html, body {
	display: block;
	font-family: 'Calibri', sans-serif;
	overflow-x: hidden;
	background-color: #F0EFF0;
}
a:link {
		text-decoration: none;
		color: white;
	}
a:visited {
		color: white;
	}
a:hover {
		color: white;
	}
center:snippetTitle {
	display: inline;
}
.landing {
	display: inline-block;
	position: absolute;
	width: 100%;
}
.bgimage {
	background: transparent;
}
.image {
	background-image: url("photos/bg.jpg");
	background-attachment: fixed;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: cover;
}
.imageText {
	background-color: #1A405F;
	padding-top: 10%;
	transition: 1s;
	color: #1A405F;
	background: rgba(20, 20, 20);
}
.imageTextBG {
	color: white;
	background-color: rgba(20, 20, 20, 0.5);
	text-shadow: 0 0 10px black;
}
.navbarBorder {
	box-shadow: 0 2px 0 #F0EFF0;
}
.imageBody {
	position: relative;
	padding-bottom: 10%;
	padding-left: 10%;
	padding-right: 10%;
	font-size: 30px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	opacity: 0;
}
.navbar {
	z-index: 9999;
	position: fixed;
	display: block;
	height: 82px;
	width: 100%;
	background-color: rgba(26, 64, 95, .5);
	border-radius: 0;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5px;
	padding-bottom: 5px;
	transition: 0.5s;
}
.navbar2 {
	z-index: 9999;
	position: fixed;
	display: block;
	height: 82px;
	width: 100%;
	background-color: rgba(26, 64, 95, 1);
	border-radius: 0;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5px;
	padding-bottom: 5px;
	transition: 0.5s;
}
.Transition {
	background-color: rgba(26, 64, 95, 1);
}
.logo {
	padding-top: 7px;
	display: inline-block;
	font-size: 26px;
}
.tabs {
	display: inline-block;
	text-align: left;
	float: right;
	position: relative;
	font-size: 20px;
	padding-top: 18px;
}
.teamTab {
	margin-right: 5%;
	box-shadow: 0px 0px 0px 5px white;
}
.services {
	background-color: rgba(26, 64, 95, 1);
	border-top: solid 2px #F0EFF0;
	padding-top: 5%;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 10%;
	transition: 0.5s;
}
.servicesTitle {
	color: white;
	font-size: 40px;
	opacity: 0;
}
.servicesBody {
	text-align: center;
	color: white;
	font-size: 20px;
	padding-top: 40px;
}
/*
.servicesPhoto {
	box-shadow: 2px 2px 3px #3a3a3a;
}
*/
.snippetTitle {
	padding-top: 5%;
	font-size: 22px;
}
.snippet {
	padding-top: 5%;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
}
.footer {
	border-top: solid 2px #F0EFF0;
	padding-top: 40px;
	padding-bottom: 40px;
	color: white;
	background-color: #1A405F;
	font-size: 20px;
	bottom: 0;
}
.design, .project, .quality, .cost {
	text-align: center;
	opacity: 0;
}
.teamPage {
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 10%;
}
.teamLanding {
	display: inline-block;
	position: absolute;
	width: 100%;
	background-image: url("photos/teambg.png");
	background-attachment: fixed;
  background-position: 0 0;
  background-repeat: repeat;
}
.contactLanding {
	display: inline-block;
	position: absolute;
	width: 100%;
	background-image: url("photos/contactbg.png");
	background-attachment: fixed;
  background-position: 0 0;
  background-repeat: repeat;
}
.bioRow {
	height: 255px;
	padding-top: 35px;
}
.bio {
	position: relative;
	float: left;
}
.memberBio {
	padding-top: 10px;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}
.pageTitle {
	padding-left: 10%;
	padding-top: 10%;
	font-size: 40px;
}
.memberName {
	font-size: 28px;
}
h4 {
	display: inline;
}
.contactTitle {
	padding-left: 43%;
	padding-top: 10%;
	font-size: 40px;
}
.contactPage {
	padding-top: 20px;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 40%;
}
.contactInfo {
	font-size: 25px;
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: white;
  height: 1px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
@media (max-width: 1107px) {
	.imageBody {
		font-size: 25px;
	}
	.servicesTitle {
		font-size: 35px;
	}
	.snippetTitle {
		font-size: 23px;
	}
	.snippet {
		font-size: 16px;
	}
	.pageTitle {
		font-size: 35px;
	}
	.memberName {
		font-size: 24px;
	}
	.memberBio {
		font-size: 14px;
	}
	.contactTitle {
		padding-top: 13%;
		font-size: 35px;
	}
	.contactInfo {
		font-size: 20px;
	}
}
@media (min-width: 1920px) { /* 1080p */
	.navbar, .navbar2 {
		height: 123px;
	}
	.logo {
		padding-top: 14px;
		font-size: 40px;
	}
	.tabs {
		padding-top: 28px;
		font-size: 34px;
	}
	.imageBody {
		font-size: 50px;
	}
	.servicesTitle {
		font-size: 60px;
	}
	.snippetTitle {
		font-size: 30px;
	}
	.snippet {
		font-size: 22px;
	}
	.pageTitle {
		font-size: 60px;
	}
	.memberName {
		font-size: 38px;
	}
	.memberBio {
		font-size: 18px;
	}
	.contactTitle {
		font-size: 60px;
	}
	.contactInfo {
		font-size: 35px;
		padding-bottom: 30%;
	}
}
@media (min-width: 2560px) { /* 1440p */
	.imageBody {
		font-size: 70px;
	}
	.servicesTitle {
		font-size: 80px;
	}
	.snippetTitle {
		font-size: 50px;
	}
	.snippet {
		font-size: 32px;
	}
	.pageTitle {
		font-size: 80px;
	}
	.memberName {
		font-size: 48px;
	}
	.memberBio {
		font-size: 20px;
	}
	.contactTitle {
		font-size: 80px;
	}
	.contactInfo {
		font-size: 50px;
		padding-bottom: 30%;
	}
}